
#headShot{
    /*border-radius: 90px;*/
    height: 150px;
    width: 150px;
}

h1{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
}

h2{
    font-family: sans-serif;
}

.myInfoHeadings{

}

.sectionHeadings{

}

#myTitle{

}

.container{
    display:grid;
}

#header{
    background-color: mediumSeaGreen;
    border: 3px;
    border-style: solid;
    border-color: white;
}

#main{
    background-color: yellow;
}

#sidebar{
    background-color: blue;
}
