
#headShot{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    left: 50px;
    top:10px;
    margin-bottom: 25px;
}

h1{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    color: white;
    margin: 0px;
    padding: 1px;
    border: 0px;
    text-align: center;
}

h2{
    font-family: sans-serif;
}

.myInfoHeadings{
    font-family: 'Bevan', cursive;
    font-size: 15px;
    font-weight: 150;
}

#myTitle{
    padding: 0px;
    margin: 2px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    display:grid;
    grid-template-columns: repeat(6,250px);
    grid-auto-rows: repeat(8,150px);
    grid-column-gap: 20px;
}

#myHeader{
    grid-column: 1/6;
    grid-row: 1;
    background-color: #D23831;
    height: 200px;
}

#main{
    grid-column: 2/6;
    grid-row: 2/8;
    background-color: #FFFF;
}

#sidebar{
    grid-column: 1;
    grid-row: 2/8;
    background-color: #F2F2F2;
}

.flex-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

#headerBox{
    border: solid;
    color: white;
    border-width: 1px;
    padding: 20px 80px 20px 80px;
    margin: 0px;
}

#innerSideBar{
    padding-left: 10px;
}

li{
    font-size: 13px;
    font-family: sans-serif;
    margin-bottom: 12px;
}

ul{
    list-style: none;
}

.icons{
    height: 25px;
    width: 25px;
}

.flexContactInfo, .flexSocialInfo{
    display: flex;
    align-items: center;
}

.flexContactInfo{
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

#skillsList{
    display: flex;
    justify-content:space-between;
    list-style: circle;
}

.sectionHeadings{
    border-top: 1px solid #DCDCDC;
    padding-top: 20px;
}
.flexEducWork{
    display: flex;
    justify-content:space-around;
}

.innerFlex{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-flow:wrap;
}
